<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332057934490-p32mao2gicmkqca6gvbuardf840o3ot9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332057934490-p32mao2gicmkqca6gvbuardf840o3ot9</string>
	<key>API_KEY</key>
	<string>AIzaSyB-xJClz0Ie3r4rXe_cXJbOoKRBld098Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>332057934490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peruapps.dev.NotificationApp</string>
	<key>PROJECT_ID</key>
	<string>treasured-moments</string>
	<key>STORAGE_BUCKET</key>
	<string>treasured-moments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332057934490:ios:121c1886b763b13e</string>
	<key>DATABASE_URL</key>
	<string>https://treasured-moments.firebaseio.com</string>
</dict>
</plist>